
body {
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5; /* Background color */
    color: #333; /* Text color */
}

/* Add styling for the button */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added color transition */
    text-decoration: none; /* Added text-decoration property */
}

button:hover {
    background-color: #0056b3;
    color: #fff; /* Change text color on hover */
}

section {
    text-align: center;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
line-height: 100px;
    font-size: 60px;
}